.select-dropdown{
    margin: auto;
    width: 50%;
    padding-top: 5%;
    
}
.input-group{
    display: flex;
    width: 100%;
    /* justify-content: center; */
    margin-top: 3%;
    /* margin-left: 1%; */
}
.select-city{
    width: 100%;
    margin: auto;
}
.table-section {
    padding-top: 5%;
    width: 60%;
    margin: auto;
}

.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 2em;
	text-decoration:none;
    margin: 0 0 0 10px;
	display:inline-block;
	cursor:pointer;
}
.btn:disabled {
    cursor: not-allowed;
    border: 1px solid #999999;
    color: #666666;
}

* {
    box-sizing: border-box;
  }

  .row {
    /* padding: 0 10px; */
    width: 100%;
  }
  
  input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  @media screen and (max-width: 600px) {
     .col-75 {
      width: 100%;
      margin-top: 0;
    }
  }