.mail-container{
  display: flex;
  justify-content: space-evenly;
}

.select-dropdown{
  width: 40%;
  padding-top: 5%;
}
  
.input-group{
    display: flex;
    width: 100%;
    margin-top: 3%;
}
.select-city, .select-category{
    width: 100%;
    margin: auto;
    margin-bottom: 3%;
}
.table-section {
  padding-top: 5%;
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.btn{
  background:white;
  display: block;
  margin: 20px auto;
	color:black;
	border:1px solid black;
	padding: 0.5em 2em;
	text-decoration:none;
  cursor:pointer;
}
.btn:disabled {
    cursor: not-allowed;
    border: 1px solid #999999;
    color: #666666;
}

* {
    box-sizing: border-box;
  }

  .row {
    width: 100%;
  }
  
  input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  #subject, #button-text, #button-link, .mce-tinymce {
    margin-bottom: 3% !important;
  }

  .mce-statusbar .mce-container-body {
    display: none !important;
  }

  #my_id{
    color: gray !important;
  }
  
  
  @media screen and (max-width: 600px) {
     .col-75 {
      width: 100%;
      margin-top: 0;
    }
  }